<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin ion-no-padding" *ngIf="article?.title">
    <ion-row>
      <ion-col size="12">
        <img [src]="article?.urlToImage" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-card-header>
            <ion-card-subtitle>Published on: {{article?.publishedAt|date}}</ion-card-subtitle>
            <ion-card-title>{{article?.title}}</ion-card-title>
            <ion-card-subtitle>Author: {{article?.author}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{article?.content}}
          </ion-card-content>

           <ion-item [href]="article?.url">
             <ion-label color="secondary">News Source</ion-label>
             <ion-icon slot="end" name="arrow-forward"></ion-icon>
           </ion-item>
          
        <h5 slot=""></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h5></h5>
      </ion-col>
    </ion-row>
  </ion-card>



</ion-content>