<ion-header>
  <ion-toolbar>
    <ion-title>
      News Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <ion-card class="welcome-card" *ngFor="let article of articles;index as i" [routerLink]="['/tabs/details',i]">
    <img [src]="article?.urlToImage" alt="" />
    <ion-card-header>
      <ion-card-subtitle>
        <h6>Published on: {{article?.publishedAt|date}}</h6>
      </ion-card-subtitle>
      <ion-card-title>{{article?.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{article?.content}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>