<ion-header>
  <ion-toolbar>
    <ion-title>
      Source
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4 class="ion-text-center">Thanks to <span><a href="https://newsapi.org/">News API</a></span> </h4>

  <ion-row>
    <ion-col size="12">
      <ion-text color="dark">
        <h5>Search worldwide news with code
          Get breaking news headlines, and search for articles from over 30,000 news sources and blogs with our news API
          at <a href="https://newsapi.org/">https://newsapi.org</a></h5>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>